# Docker Service configuration
COMPOSE_FILE_PRODUCTION_SET=./docker/services/docker-compose.base.yml
COMPOSE_FILE_DEVELOPMENT_SET=./docker/services/docker-compose.base.yml:./docker/services/docker-compose.local.yml
COMPOSE_FILE=${COMPOSE_FILE_DEVELOPMENT_SET}
COMPOSE_NAME=nextcloud

# Nextcloud configuration
NEXTCLOUD_CONTAINER_NAME=tuzelko/nextcloud
NEXTCLOUD_CONTAINER_VERSION=latest
NEXTCLOUD_SCHEME=http
NEXTCLOUD_DOMAINS=localhost,app,nextcloud.example.com
NEXTCLOUD_MAIN_DOMAIN=app
NEXTCLOUD_PHONE_REGION=RU
NEXTCLOUD_DATABASE_TYPE=mysql
NEXTCLOUD_DATABASE_HOST=database
NEXTCLOUD_CACHE_MODE=redis
NEXTCLOUD_CACHE_REDIS_HOST=cache
NEXTCLOUD_SMTP_MODE=smtp
NEXTCLOUD_SMTP_HOST=mailcatcher
NEXTCLOUD_SMTP_PORT=25
NEXTCLOUD_SMTP_SECURE=
NEXTCLOUD_SMTP_AUTH=false
NEXTCLOUD_SMTP_AUTH_TYPE=
NEXTCLOUD_SMTP_USER=
NEXTCLOUD_SMTP_PASSWORD=
NEXTCLOUD_SMTP_FROM=cloud
NEXTCLOUD_SMTP_DOMAIN=${NEXTCLOUD_MAIN_DOMAIN}

# Onlyoffice configuration
# Use: openssl rand -hex 32
ONLYOFFICE_SECRET=CHANGE_ME

# Nextcloud Talk configuration
NEXTCLOUD_TALK_DOMAIN=app
# Use: openssl rand -hex 32
NEXTCLOUD_TALK_TURN_SECRET=CHANGE_ME
NEXTCLOUD_TALK_SIGNALING_SECRET=CHANGE_ME
NEXTCLOUD_TALK_INTERNAL_SECRET=CHANGE_ME

# MariaDB configuration
MARIADB_DATABASE=nextcloud
MARIADB_USER=nextcloud
MARIADB_PASSWORD=CHANGE_ME
MARIADB_ROOT_PASSWORD=CHANGE_ME

# Redis / Valkey configuration
REDIS_PORT=6379